<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        #map {
            height: 94%;
        }
        #bearingControl {
            margin: 20px;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <div id="bearingControl">
        <label for="bearingInput">KrakenSDR 1: </label>
        <input type="number" id="bearingInput" min="0" max="360" value="0">
        <button id="submitBearing">Apply</button>
        <span id="bearingValue">0</span>°
    </div>

    <script>
        // Load data from JSON and update bearing value
        function loadMapData() {
            // Загрузка JSON-файла
            $.getJSON('data_krkn_1.json', function(data) {
                // Получаем значение bearing_deg из JSON
                var bearingDeg = data.krakensdr_1.bearing_deg;

                // Устанавливаем это значение в span и input
                $('#bearingValue').text(bearingDeg);   // Обновляем значение в span
                $('#bearingInput').val(bearingDeg);    // Обновляем значение в input поле

                // Создаем карту с координатами из JSON
                var map = L.map('map').setView([data.krakensdr_1.start_coordinates.latitude, data.krakensdr_1.start_coordinates.longitude], 13);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19
                }).addTo(map);

                // Добавляем маркер для KrakenSDR 1
                var marker_1 = L.marker([data.krakensdr_1.start_coordinates.latitude, data.krakensdr_1.start_coordinates.longitude], {draggable: true}).addTo(map).bindPopup("KrakenSDR 1").openPopup();
            });
        }

        // Загружаем данные и обновляем страницу при загрузке
        $(document).ready(function() {
            loadMapData();
        });

        // Обработчик изменения направления KrakenSDR 1
        $('#submitBearing').on('click', function() {
            var bearingValue = $('#bearingInput').val();
            $('#bearingValue').text(bearingValue);

            // Здесь вы можете отправить новое значение на сервер, если нужно
            // $.ajax({...});
        });
    </script>
</body>
</html>
